<html lang="en">
<head>
	<meta charset="UTF-8">

	<link href="https://fonts.googleapis.com/css?family=Crafty+Girls|Fontdiner+Swanky" rel="stylesheet">


	<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
	<title>Devour Menu</title>
</head>

<body>
	

	{{{ body }}}

	<footer class="burgerFooter">
		<div class="footer-copyright">
			<div class="container">
				<a class="grey-text text-lighten-4 right" href="https://github.com/jkkariuki">Reference Work</a>
			</div>
		</div>
	</footer>
</body>
</html>